.hjk{
    width: 18rem;
    margin-left: 130px;
}
.card-img-top{
    height: 15rem;
}
#about{
    background-color: ghostwhite;
    height: 48rem;
}
.hi{
    text-align: center;
    margin-left: 120px;
}