
.NavDiv{
  text-decoration: none;
 color:#dbbf70;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 justify-content: space-between;
 align-items: center;
 font-size: 1rem;
 box-shadow: inset 0 0 0 0 white;
 transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
 padding: 10px;
 border-radius: 5px;
}
.NavDiv:hover{

box-shadow: inset 110px 0 0 0 goldenrod;
border-radius: 5px;
  color: #383837;
  padding: 10px;


}
.marg{
  display: inline;
padding: 30px;
}
*{
  margin: 0px;
}
.bar{
  background-image: url("https://i.pinimg.com/736x/62/fb/bf/62fbbf8f0807303828e6cde7eef2b584.jpg");
  /* background-color: black; */
  background-size: cover;
  height: 7.2rem;
}
#iop{
  margin-left: 100px;
}
#logo{
  width: 120px;
  height: 100px;
  margin-right: -100px;
margin-top: 1px;
}

#logo:hover{
  opacity: 0.5;
}
#seperate{
  margin-left: 31%;
  margin-top:-140px ;
}

