#sdsas{
    background-color: ghostwhite;
}
.kdl{
    margin-left: 45%;
}
.texw{
    margin-left: 13%;
    color: red;
    font-size: 0.9rem;
    font-family: monospace;
}
#asg{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    margin-left: 15%;
}
.jakl{
    margin-left: 10%;
}